/* CSS Variables */
:root {
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color:#201f1f17;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

    /* Font Family Variables */
    --roboto: 'Roboto', cursive;
}
/* CSS VAriables */

#logo-img {
    height: 100px;
}

/*      StartOfNavbar      */
.header_area .main-menu .navbar .navbar-brand {
    padding: 0.2rem 0.5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px 'Georgia',cursive;
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    z-index: 999;
    transition: background 1s ease;
}
/*      EndOfNavbar        */

/*      Banner Area      */
.site-main .site-banner {
    background: url(../../assets/images/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);

}

.site-main .site-banner .site-title h1 {
    font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
    padding: 7rem 0;
    width: 90rem;
}

.title-text {
    font: normal bold 50px/ 72px 'Georgia', cursive;
}

.text-uppercase {
    text-transform: uppercase;
}

.para {
    color: #777777;
    font: normal 500 16px/ 25px 'Georgia',cursive;
}

.font-roboto {
    font-family: 'Georgia',cursive;
}

button:focus,
button:active
button:hover
.btn:active,
.btn .active {
    outline: 0px !important;
    box-shadow: none !important;
}

.title-h1 {
    font: normal bold 39px/ 40px 'Georgia',cursive;
}

#button {
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

#button2 {
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

#button3 {
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

#button4 {
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.primary-button {
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background.6s ease;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.primary-button:hover {
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.primary-button::after, .secondary-button::after {
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    content: " ";
    z-index: -1;
    border-radius: 4px;
}

.secondary-button {
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.secondary-button:hover {
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    color: whitesmoke;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
/*      Banner Area      */

/* Start About Area */ 
.site-main .about-area {
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span {
    display: block;
    font: normal bold 49px/ 60px 'Georgia', cursive;
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
    padding: .4rem 0;
}
/* End About Area */ 

/* Services Area */ 
.site-main .services-area {
    padding: 7rem 2rem;
}

.site-main .services-area .services-title {
    padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
    font-size: 35px;
}

.site-main > .services-area .services {
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover {
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
/* End Services Area */ 

/* Project Area */ 
.site-main .project-area {
    padding: 4rem 0;
}

.site-main .project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 500 16px/130px 'Georgia',cursive;
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
    font: normal 700 25px/12px 'Georgia',cursive;
}

.site-main .project-area .grid .our-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
/* End Project Area */ 

/* Subscribe me */ 
.site-main .subscribe-us-area .subscribe {
    background: url(../../assets/images/subscribe-bg.png) no-repeat;
    background-position: center;
    padding: 10rem 0;
    margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4 {
    font: normal 700 30px/ 30px 'Georgia',cursive;
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p {
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input {
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px 'Georgia',cursive;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder {
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button {
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}
/* End subscribe me */ 

/*      Footer Area      */
.footer-area {
    padding: 5rem 0;
    background: url(../../assets/images/footer-bg.png) no-repeat;
}

.footer-area .social h5 {
    font: normal 500 23px/ 30px 'Georgia',cursive;
}

.footer-area .social a > i {
    font-size:22px;
    padding: 2rem;
    color: #201f1f17;
}

.footer-area .social a:hover > i {
    color: #4458dc;
}
/*      Footer Area      */

/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px) {
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1 {
        font-size: 41px;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input {
        width: 15rem    !important;
    }

    .site-main > .services-area .services {
        width: 13rem;
    }

}

/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px) {
    .site-main .about-area .about-title h2 > span {
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .brand-area .experience-area .years-area {
        padding-left: 1%;
        width: 49%;
    }

    .site-main .brand-area .experience-area .bg-panel {
        margin-left: 30%;
        width: 80%;   
    }

    .site-main .brand-area .experience-area .call-area {
        padding-left: 3%;
    }

    .site-main .project-area .button-group button {
        font: normal 500 18px/40px 'Georgia',cursive;
    }

    .site-main .about-area .about-title p {
        padding: 0%;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input {
        width: 20rem;
        margin: 5%;
    }
}

/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px) {
    .header_area .main-menu .navbar {
        padding: 1rem;
    }

    .container {
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area {
        padding: 3% 4%;
    }

}